body {
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto;   
}

.menu{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 2rem;
    color: #f9faf8;
    padding-top: 9px;  
}
.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header-links {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #e5e7eb;
    
    
}
.header-link-one {
    margin-right: 20px;

}
.header-link-two {
    margin-right: 20px;
}

.hero-contaner {
    background-color: #1F2937;
    display: flex;
    
    justify-content: center;
}

.hero {
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#f9faf8;
    width: auto;
    gap: 40px;
    

}
.hero-contaner .text-contaner {
    color:#e5e7eb;
    width: 50%;
    height: 50%;
}

.text-contaner h2{
    font-size: 45px;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.text-contaner p {
    padding-bottom: 10px;
    font-size: 18px;

}
.text-contaner button {
    color: #e5e7eb;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    width: 125px;
    line-height: 26px;
    height: 35px;
    font-size: 18px;
    font-weight: 500;
    

}


.img-contaner {
    
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    align-items: center;
    font-size: 10px;
    font-weight: 300;
    background-color: #8a8686;
    
}

.info-contaner {
    display: block;
    justify-content: center;
    
}
.info {
    display: flex;
    justify-content: center;
    font-family:Roboto;
}
.info .info-header  {
     font-size: 36px;
     font-weight:bolder;
    

}

.image-contaner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 780px;
    padding: 20px;
    
    
}
.item {
    width: 22%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.box {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 3px solid #3882F6;
    margin-bottom: 10px;
    border-radius: 15%;
  }
  .item p {
    font-size: 18px;
    margin: 0;
  }

  .qoute-contaner {
    background-color: #f5f5f5;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .qoute {
   align-items: center;
   padding: 180px;
   margin: 180px;
   
    
  }
  .phrase  {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    
  }
  .author  {
    text-align: right;
    padding-top: 0px;
    font-weight: 800;
    font-size: 18px;
  }

.call-to-action-contaner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #ffffff;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3882F6;
  border-radius: 5px;
  padding: 20px 99px;
  
}
.call-to-action-text {
  flex: 1;
  margin-right: 60px;
  
}
.call-to-action-text h2 {
  color: #ffffff;
  margin-bottom: 1px;
}

.call-to-action-text p {
  color: #e7e7e7;
  margin-top: 1px;
 
}

.call-to-action-button {
  margin-left: 20px;
}
.call-to-action-button button {
  background-color: #3882F6;
  color: #ffffff;
  padding: 4px 30px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 16px;
  font-size: 18px;
  cursor: pointer;
}
.footer {
    display: flex;
    justify-content: center;

  }
  
  .footer-item {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    height: 50px;
    flex: 1;
  }
  .footer-text {
    color: #ffffff;
  }


